<section class="panel-display col-10">
    <form action="">
        <table class="panel-table col-12">
            <tr>
                <th colspan="3" class="panel-th">

                    {{#if titles}}
                        <!-- TODO: These aren't paragraphs! -->
                        <p>{{titles.title}}</p>
                        
                    {{else}}
                        <p>No title found</p>
                    {{/if}}
                    
                </th>
            </tr>
            <tr>
                <td colspan="3" id="panel-table-description">
                    {{#if titles}}
                        <!-- TODO: These aren't paragraphs! -->
                        <p>{{titles.subtitle}}</p>

                    {{else}}
                        <p>No subtitle found</p>
                    {{/if}}
                </td>
            </tr>

            <tr>
                <td>
                    {{#if settings}}
                    <p>{{settings.site_title}}</p>
                    {{else}}
                    {{/if}}
                </td>
                <td>
                    object two
                </td>
                <td>
                    object three
                </td>
            </tr>
            <tr>
                <td colspan="3" style="border: 2px solid green;">
                    object four
                </td>
            </tr>
        </table>
        
    </form>
</section>