<section class="panel-display col-10">
    <form action="">

        {{#if error}}
            {{>errors errors}}
        {{else}}
            <table class="panel-table col-12">
                <tr>
                    <th colspan="4" class="panel-th">
                        {{#if titles.title}}
                            <p> {{titles.title}}</p>
                        {{else}}
                            <p>No title found</p>
                        {{/if}}
                    </th>
                </tr>
                <tr>
                    <td>
                        {{#if titles.subtitle}}
                            <p> {{titles.subtitle}}</p>
                        {{else}}
                            <p>No title found</p>
                        {{/if}}
                    </td>
                </tr>
            </table>

            <div class="col-12 ">
                {{>errors errors}}
                {{#if success_created}}
                    <p id="success">Post created!</p>
                {{/if}}
                {{#if success_updated}}
                    <p id="success">Post updated!</p>
                {{/if}}
                {{#if success_deleted}}
                    <p id="success">Post deleted!</p>
                {{/if}}
                {{#if posts.length}}
                    {{#each posts}}

                        <section class="panel-posts">
                            <form method="POST">
                                <header class="panel-posts-header">
                                    <p>ID:
                                        <input id="display-id" type="number" name="post_id" value="{{id}}" readonly>
                                    </p>
                                    <br>
                                    <p>Title: <input type="text" name="post_title" value="{{post_title}}"></p>
                                    {{!-- 
                                    No time to implement these :(
                                    <p>Author:{{author}}</p>
                                    <p>Date Published: {{publish_date}}</p> --}}
                                </header>

                                <article class="panel-posts-content">
                                    <p id="panel-posts-text">Content:</p>
                                    <textarea name="post_content" id="panel-posts-textarea">{{post_content}}</textarea>
                                </article>
                                <footer class="panel-posts-footer">
                                    <input type="hidden" name="_csrf" value="{{../csrfToken}}">
                                    <input type="submit" value="UPDATE" formmethod="POST" formaction="/panel/panel-posts/update">
                                    <input type="submit" value="DELETE" formmethod="POST" formaction="/panel/panel-posts/delete">
                                </footer>
                            </form>
                        </section>

                    {{/each}}
                {{else}}
                    <p>No posts found</p>
                {{/if}}
                <section class="panel-create-post">
                    <form method="POST">
                        <div id="row">
                            <p>Title:</p>
                            <input type="text" name="create_post_title" placeholder="Set title"
                                value="{{create_posts.create_post_title}}">
                        </div>
                        <article class="panel-create-post-content">
                            <p>Add Content:</p>
                            <textarea name="create_post_content"
                                id="create-post-textarea">{{create_posts.create_post_content}}</textarea>
                        </article>

                        <footer class="panel-posts-footer">
                            <input type="hidden" name="_csrf" value="{{csrfToken}}">
                            <input type="submit" value="CREATE" formmethod="POST" formaction="/panel/panel-posts/create">
                        </footer>
                    </form>
                </section>
            </div>
        {{/if}}
    </form>
</section>