<section class="panel-display col-10">
    {{#if error}}
        {{>errors errors}}
    {{else}}
        <table class="panel-table col-12">
            <tr>
                <th colspan="3" class="panel-th">
                    {{#if titles}}
                        <p>{{titles.title}}</p>
                    {{else}}
                    <p>No title found</p>
                    {{/if}}

                </th>
            </tr>
            <tr>
                <td colspan="3" id="panel-table-description">
                    {{#if titles}}
                        <p>{{titles.subtitle}}</p>
                    {{else}}
                        <p>No subtitle found</p>
                    {{/if}}
                </td>
            </tr>
        </table>
        <form method="POST">
            <section class="panel-settings col-12">
                {{>errors errors}}
                {{#if success}}
                    <p id="success">Success!</p>
                {{/if}}
                    {{#each site_settings}}
                        <div id="row">
                            <p>
                                Site title:
                            </p>
                            <p>
                                {{site_title}}
                            </p>
                            <input type="text" name="site_title" value="{{site_title}}">
                        </div>
                        <div id="row">
                            <p>
                                Site subtitle:
                            </p>
                            <p>
                                {{site_subtitle}}
                            </p>
                            <input type="text" name="site_subtitle" value="{{site_subtitle}}">
                        </div>
                        <div id="row">
                            <p>
                                Posts per page:
                            </p>
                            <p>
                                {{posts_per_page}}
                            </p>
                            <input type="number" name="posts_per_page" value="{{posts_per_page}}">
                        </div>
                        <div id="row">
                            <p>
                                Background image:
                            </p>
                            <img src="{{img_url}}" alt="background img">
                            <input type="text" name="img_url" value="{{img_url}}">

                        </div>
                        <div id="row">
                            <p>
                                Contact email: {{global_email}}
                            </p>
                            <input type="text" name="global_email" value="{{global_email}}">
                        </div>
                        <div id="row">
                            <p>
                                Contact name: {{global_name}}
                            </p>
                            <input type="text" name="global_name" value="{{global_name}}">
                        </div>
                        <div id="row">
                            <p>
                                Profile Image:
                            </p>
                            <img src="{{profile_img_url}}" alt="profile_img">
                            <input type="text" name="profile_img_url" value="{{profile_img_url}}">

                        </div>
                        <div id="row">
                            <p>
                                About:
                            </p>
                            <br>
                            <textarea name="about" id="">{{about}}</textarea>

                        </div>
                        <footer id="panel-settings-footer">
                            <input type="hidden" name="_csrf" value="{{../csrfToken}}">
                            <input type="submit" value="Update" formmethod="POST" formaction="/panel/panel-main/update">
                        </footer>
                    {{/each}}
            </section>
        </form>
    {{/if}}
</section>