<section class="panel-display col-10">
    <form action="">
        <table class="panel-table col-12">
            <tr>
                <th colspan="4" class="panel-th">
                    {{#if titles.title}}
                    <!-- TODO: These aren't paragraphs! -->
                    <p> {{titles.title}}</p>
                    {{else}}
                    <p>No title found</p>
                    {{/if}}
                </th>
            </tr>
            <tr>
                <td>
                    {{#if titles.subtitle}}
                    <!-- TODO: These aren't paragraphs! -->
                    <p> {{titles.subtitle}}</p>
                    {{else}}
                    <p>No title found</p>
                    {{/if}}
                </td>
            </tr>
        </table>

        <div class="col-12 ">
            {{#if posts.length}}
            {{#each posts}}

            <section class="panel-posts">
                <form method="POST">
                    <header class="panel-posts-header">
                        <input type="text" name="post_id" value="{{id}}" readonly>
                        <br>
                        <p>Title: <input type="text" name="post_title" value="{{post_title}}"></p>
                        <p>Author:{{author}}</p>
                        <p>Date Published: {{publish_date}}</p>
                    </header>

                    <article class="panel-posts-content">
                        <p id="panel-posts-text">Content:</p>
                        <textarea name="post_content" id="panel-posts-textarea">{{post_content}}</textarea>
                    </article>
                    <footer class="panel-posts-footer">
                        <input type="submit" value="UPDATE" formaction="/panel/panel-posts/update">
                        <input type="submit" value="DELETE" formaction="/panel/panel-posts/delete">
                    </footer>
                </form>
            </section>

            {{/each}}
            {{else}}
            <p>No posts found</p>
            {{/if}}
            <section class="panel-create-post">
                <form method="POST">
                    <div id="row">
                        <p>Title:</p>
                        <input type="text" name="create_post_title" placeholder="Set title" value="">
                    </div>
                    <article class="panel-create-post-content">
                        <p>Add Content:</p>
                        <textarea name="create_post_content" id="create-post-textarea"></textarea>
                    </article>

                    <footer class="panel-posts-footer">
                        <input type="submit" value="CREATE" formaction="/panel/panel-posts/create">
                    </footer>
                </form>
            </section>

        </div>
    </form>
</section>